* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

html, body {
    width: 100%; 
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Slider Section */

.slider {
    background-image: url('images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.slider-content {
    float: left;
    width: 50%;
    opacity: 0;
}

.slider-content2 {
    float: left;
    width: 50%;
    text-align: right;
    padding: 100px 0;
}

.slider-content2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin: 24px 0 24px 24px;
}

.slider-content2 p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.slider-content2 button {
    width: 160px;
    height: 64px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* Woman section */
.woman {
    display: flex;
    overflow: hidden;
    margin: 100px;
}

.woman-img {
    width: 50%;

}

.woman-img img {
    width: 569px;
    height: 723.3px;
}

.woman-content {
    padding-top: 200px;
    width: 50%;
    margin-left: 150px;
}


.woman-content ul li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 8px;
}

.woman-content ul li i {
    color: #16D887;
}

.woman-content ul li span {
    margin-left: 8px;
}

.woman-content h2 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
}

.woman-content p {
    margin-bottom: 16px;
    line-height: 1.7;
    font-weight: 400;
    font-size: 16px;
}

/* MyPlan Section */
.myplan {
    display: flex;
    overflow: hidden;
}

.myplan1 {
    width: 25%;
    justify-content: space-between;
    text-align: center;
}

.plan h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 55px;
}

.myplan1 h3 {
    margin: 20px 0;

}

.cta {
    max-width: 1200px; 
    width: 100%; 
    margin: 0px auto; 
    border-radius: 8px;   
}

.container-shadow {
    background-image: url('images/gradient3.png'), url('images/watch.png');
    background-size: cover;
    margin: 100px 0;
    background-position: bottom right, left;
    max-width: 1200px;
    border-radius: 8px;
}

.container-shadow h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding: 59px 0 24px 64px;
    color: #FFFFFF;
}

.btn-call-now {
    width: 160px;
    height: 64px;
    border: none;
    margin: 0 0 70px 64px;
    color: #F15B22;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    background-color: black;
}

.all-content {
    display: flex;
    overflow: hidden;
    padding: 70px 0;

}

.future {
    color: #F8F8F8;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.Subscribe {
    color: #F8F8F8;
    /* text-align: center;  */
}

.future h2 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px
}

.future p {
    height: 78px;
    left: 230px;
}

.future h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.future h5 {
    font-weight: 400;
    font-size: 16px;
}

.future ul{
    text-align: left;
    margin-top: 32px;
}

.future ul li{
    display: inline-block;
    /* margin-top: 20px; */
    margin-right: 10px;
    cursor: pointer;
}

.subscribe h2 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
    color: #fff;
}

.subscribe h5 {
    font-weight: 400;
    font-size: 18px;
}

.subscribe {
    font-weight: 600;
    font-size: 20px;
    margin-left: 100px;
}

.subscribe form input {
    border:1px solid white;
    background-color: black;
    margin-bottom: 20px;
    padding: 18px 10px;
    border-radius: 8px;
    width: 325px;
}

.subscribe form input:focus{
    border:1px solid white;
}

.btn-subscribe {
    background-color: #fff;
    color: #F15B22;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}